pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.12.2
scikit-learn==1.3.0
lightgbm==3.3.5
xgboost==1.7.5
catboost==1.2.0
imbalanced-learn==0.10.0
bayesian-optimization==1.4.3
prettytable==3.7.0
streamlit==1.18.0
