pandas>=2.2.2
numpy==1.26.4
matplotlib>=3.9.2
seaborn>=0.12.2
scikit-learn>=1.3.0
lightgbm>=4.5.0
xgboost>=1.7.5
catboost>=1.2.6
imbalanced-learn==0.12.3
bayesian-optimization==1.5.1
prettytable==3.11.0
streamlit==1.18.0
